$white: #fff;

$bg-main:#f3f6fa;
$bg-code:#eee;
$bg-footer: #e8eef4;

$grey: #7c8081;
$black: #1c2021;

$button-light: #96dad1;
$button-special: #83d3c9;
$cyan: #83d3c9;
$link: #3fb1a3;
$aubergine:#645862;

$twitter-base: #70aecd;
$twitter-hover: #7fb7d2;
$linkedin-base: #7490c3;
$linkedin-hover: #829bc9;
$github-base: #dcad8b;
$github-hover: #e1b89b;
$google-base: #db6b67;
$google-hover: #df7b77;
$instagram-base: #da83ae;
$instagram-hover: #df93b8;

