---
layout: default
paginate: true
---

<article id="main">
    <header class="special container">
        <span class="icon fa-file-text-o"></span>
        <h2>My <strong>Blog</strong></h2>
        <p>I write stuff too</p>
    </header>
    <section class="wrapper style4 container">
        <ul class="posts">
            {% for post in paginator.posts %}
                <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    {{ post.excerpt }}
                    <section class="special">
                        <ul class="buttons">
                            <li><a href="{{ post.url }}" class="button">Read more</a></li>
                        </ul></section>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="pagination" >
        <div class="row">
            <div class="4u">			
                <section>
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                    {% else %}
                        <span class="previous">Previous</span>
                    {% endif %}
                </section>
            </div>
            <div class="4u">			
                <section>
                    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                </section>
            </div>
            <div class="4u">			
                <section>            
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                    {% else %}
                        <span class="next ">Next</span>
                    {% endif %}
                </section>
            </div>


        </div>
    </section>
</article>