<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include header.html %}

  <!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-envelope-o"></span>
					<h2>Drop me a <strong>message</strong></h2>
				</header>

				<!-- One -->
					<section class="wrapper style4 special container small">
						<!-- Content -->
							<div class="content">
								<form id="contact-form" action="{{site.form_submission}}" method="post">
									<span id="contact-success">Thank you for your message!</span>
									<div class="row half collapse-at-2">
										<input class="honeypot" id="honeypot-one" name="honeypot-blank" value=""/>
										<input class="honeypot" id="honeypot-two" name="honeypot-email" value="honeypot@mail.com"/>
										<div class="6u">
											<input id="contact-name" type="text" name="name" placeholder="Name" required/>
										</div>
										<div class="6u">
											<input id="contact-email" type="email" name="email" placeholder="Email" required/>
										</div>
									</div>
									<div class="row half">
										<div class="12u">
											<input id="contact-subject" type="text" name="subject" placeholder="Subject" />
										</div>
									</div>
									<div class="row half">
										<div class="12u">
											<textarea id="contact-message" name="message" placeholder="Message" rows="7" required></textarea>
										</div>
									</div>
									<div class="row">
										<div class="12u">
											<ul class="buttons">
												<li><input type="submit" class="special" value="Send" /></li>
											</ul>
										</div>
									</div>
								</form>
							</div>
							
					</section>
				
			</article>


    {% include footer.html %}

  </body>

</html>
